venv/
__pycache__/
*.pyc

.env

data/raw/*
data/processed/*
data/exports/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/exports/.gitkeep

outputs/charts/
outputs/reports/

.ipynb_checkpoints/
.DS_Store